@{
    ViewData["Title"] = "New Person";
}

<div class="container">
    <div class="h3">Форма добавления нового человека</div>

    <form method="post" action="">
        <div class="row">
            <div class="col">
                <p>Имя</p>
                <input type="text" name="FirstName" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Фамилия</p>
                <input type="text" name="LastName" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" value="Создать" />
            </div>
        </div>
    </form>

</div>
